<div class="container mt-1">
    <uib-tabset active="activeTab">
        <uib-tab index="0" heading="Active">
            <div ng-show="isLoadingActive">
                <p class="text-center">
                    <i class="material-icons md-48 spin text-center">refresh</i>
                </p>
            </div>
            <div ng-show="!isLoadingActive">
                <downloads data="activeDownloads" refresh="refreshActiveDownloads" delete="deleteActiveDownload"></downloads>
            </div>  
        </uib-tab>
        <uib-tab index="1" heading="Past">
            <div ng-show="isLoadingPast">
                <p class="text-center">
                    <i class="material-icons md-48 spin text-center">refresh</i>
                </p>
            </div>

            <div ng-show="!isLoadingPast">
                <downloads data="pastDownloads" refresh="refreshPastDownloads" delete="deletePastDownload"></downloads>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Queue">
            <div ng-show="isLoadingQueue">
                <p class="text-center">
                    <i class="material-icons md-48 spin text-center">refresh</i>
                </p>
            </div>

            <div ng-show="!isLoadingQueue">
                <downloads-queue data="queue" refresh="refreshQueue" delete="deleteQueue"></downloads-queue>
            </div>
        </uib-tab>

        <uib-tab index="3" heading="Conversions">
            <div ng-show="isLoadingConversions">
                <p class="text-center">
                    <i class="material-icons md-48 spin text-center">refresh</i>
                </p>
            </div>

            <div ng-show="!isLoadingConversions">
                <conversions data="conversions" add="addConversion" refresh="refreshConversions" delete="deleteConversion"></conversions>
            </div>
        </uib-tab>

    </uib-tabset>
</div>