<div class="container mt-1">
    <div ng-show="isLoading">
        <p class="text-center">
            <i class="material-icons md-48 spin text-center">refresh</i>
        </p>
    </div>
    <div ng-show="!isLoading">
        <logs data="logs" refresh="refresh"></logs>
    </div>  
</div>