<div class="container mt-1">
    <uib-tabset active="activeTab">
        <uib-tab index="0" heading="Series">
            <series data="data" add="add" edit="edit" delete="delete"></series>
        </uib-tab>
        <uib-tab index="1" heading="Upcoming episodes">
            <episodes data="episodes"></episodes>
        </uib-tab>
    </uib-tabset>
</div>