<div class="container mt-1">
    <div style="padding-top: 20px;">
        <div ng-show="isLoading">
            <p class="text-center">
                <i class="material-icons md-48 spin text-center">refresh</i>
            </p>
        </div>
        <a ng-show="!isLoading" href="" class="btn btn-primary" ng-click="update()">Update</a>
    </div>
</div>