<div class="container mt-1">
    <div style="padding-top: 20px;">
        <path base="base" data="paths" go-to-func="callbacks.open"></path>        
        <div ng-if="items.length === 0 && !loading">
            No items.
        </div>
        <div class="card-deck" ng-if="!showVideo">
            <div class="sm-6 mb-2 ml-2" ng-repeat="item in items" ng-if="isViewedPredicate(item) && hasItems(item)">
                    <!-- ng-if="isViewedPredicate(item) && hasItems(item)" -->
                <video-tile item="item" callbacks="callbacks"></video-tile>
            </div>
        </div>
        <div ng-if="showVideo">
            <video id="video" crossorigin="anonymous" class="container" controls ng-src="{{transformViewUrl(video.Path)}}">
                <track ng-repeat="subtitle in items[0].Children" label="{{subtitle.Name}}" kind="subtitles" srclang="{{subtitle.Name}}" ng-src="{{transformViewUrl(subtitle.RelativePath)}}">
            </video>
            <div class="video-continue" ng-click="continue ()" ng-if="continueViewing.show">Continue</div>
        </div>
    </div>
</div>
