<div class="mt-4 ml-2">
    <button type="button" class="btn btn-dark mb-2" ng-click="refresh()"><i class="material-icons md-18">refresh</i></button>

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Size</th>
                    <th scope="col">%</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <th scope="row">{{$index+1}}</th>
                    <td>{{item.Title}}</td>
                    <td>{{item.Size}}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" ng-style="{width: item.PercentageDone + '%'}" aria-valuenow="{{item.PercentageDone}}" aria-valuemin="0" aria-valuemax="100">{{item.PercentageDone}}%</div>
                        </div>
                    </td>
                    <td style="text-align: right;">
                        <button type="button" class="btn btn-dark mb-2" ng-click="delete(item)"><i class="material-icons md-18">delete</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>            