<div class="mt-4 ml-2">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Series</th>
                    <th scope="col">Episode Name</th>
                    <th scope="col">Season</th>
                    <th scope="col">Episode</th>
                    <th scope="col">Aired Time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <th scope="row">{{$index+1}}</th>
                    <td>{{item.Series}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Season}}</td>
                    <td>{{item.Episode}}</td>
                    <td>{{convertTime(item.AiredTime)}}</td>                
                </tr>
            </tbody>
        </table>
    </div>
</div>            