<div class="mt-4 ml-2">
    <input type="date" ng-model="model.day" ng-change="update(model.day)" />
    <br />
    <br />
    <button type="button" class="btn btn-dark mb-2" ng-click="refresh(model.day.getTime())"><i class="material-icons md-18">refresh</i></button>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Time</th>
                    <th scope="col">Level</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{ 'table-danger': item.level === 0,
                                'table-warning': item.level === 1,
                                'table-info': item.level === 2
                              }" ng-repeat="item in data">
                    <th scope="row">{{$index+1}}</th>
                    <td>{{convertDate(item.date)}}</td>
                    <td>{{convertLevel(item.level)}}</td>
                    <td>{{item.message}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>            