<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <select ng-change="base.callback()" ng-model="base.value">
                <option ng-repeat="val in base.values" value="{{val.value}}">{{val.text}}</option>
            </select>
        </li>
        <li class="breadcrumb-item" ng-repeat="path in paths"><a href="#" ng-click="goToFunc(path)">{{path.Name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{lastPath.Name}}</li>
    </ol>
</nav>
