<div class="mt-4 ml-2">
    <button type="button" class="btn btn-dark mb-2" ng-click="add()"><i class="material-icons md-18">add</i></button>

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Season</th>
                    <th scope="col">Episode</th>
                    <th scope="col">Status</th>
                    <th scope="col">Last Updated</th>
                    <th scope="col">Aliases</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <th scope="row">{{$index+1}}</th>
                    <td>{{item.Name}}</td>
                    <td>{{item.Season}}</td>
                    <td>{{item.Episode}}</td>
                    <td>{{convertStatus(item.Status)}}</td>
                    <td>{{convertLastModified(item.LastModified)}}</td>
                    <td>{{convertAliases(item.Aliases)}}</td>   
                    <td>
                        <button type="button" class="btn btn-dark mb-2" ng-click="edit(item)"><i class="material-icons md-18">edit</i></button>
                        <button type="button" class="btn btn-dark mb-2" ng-click="delete(item)"><i class="material-icons md-18">delete</i></button>
                    </td>                 
                </tr>
            </tbody>
        </table>
    </div>
</div>            