<div class="fixed-bottom container w-25 p-3">

    <div uib-alert ng-repeat="alert in $root.alerts" class="alert alert-{{alert.type}}" 
        dismiss-on-timeout="{{alert.dismiss}}" close="closeAlert($index)">{{alert.message}}</div>
</div>