<div class="card" style="width: 19rem;">
    <div class="card-header">
        <i class="material-icons md-24 mr-2" style="float: left;">{{item.IsDir ? 'folder' : 'videocam' }}</i> 
        <span class="badge badge-secondary" style="float: left; margin-top: 3px; margin-right: 5px;" ng-if="item.IsDir">{{getItemCount()}}</span>
        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">{{item.Name}}</div>
    </div>
    <div class="card-body">
        <p class="card-text">
            <span ng-if="!item.IsDir && hasSeason()">Season & Ep: {{getSeason()}}</span> <br />
            <span ng-if="!item.IsDir">Container: {{item.Extension}}</span> <br />
            <span ng-if="!item.IsDir">Length: {{getLength()}} </span> <br />
            <span ng-if="!item.IsDir">Size: {{getSize()}} </span> <br /> 
        </p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary" ng-if="item.IsDir" ng-click="callbacks.open(item)">Open</a>

        <a href="#" class="btn btn-primary" ng-if="!item.IsDir && item.Languages.length == 1" ng-click="callbacks.view(item, 0)">View</a>

        <div class="btn-group" role="group" ng-if="!item.IsDir && item.Languages.length > 1">
            <button id="{{item.Id}}" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View
            </button>
            <div class="dropdown-menu" aria-labelledby="{{item.Id}}">
                <a class="dropdown-item" ng-repeat="lang in item.Languages" href="#" ng-click="callbacks.view(item, $index)">{{lang.Language}}</a>
            </div>
        </div>

        <a href="#" class="btn btn-secondary" ng-if="!item.IsDir" ng-click="callbacks.url(item)">Url</a>
        <a href="#" class="btn btn-success" ng-if="!item.IsViewed" ng-click="callbacks.seen(item)">Seen</a>
        <a href="#" class="btn btn-info" ng-click="callbacks.edit(item)">Edit</a>
    </div>
</div>