<script type="text/ng-template" id="itemTree">
    <div ng-if="item.IsDir">
        <i class="material-icons md-26">folder</i>
        <div style="margin-top: -25px; margin-left: 31px;"> {{ item.Name }}</div>
    </div>
    <div ng-if="!item.IsDir">
        <i class="material-icons md-26">movie</i>
        <div style="margin-top: -25px; margin-left: 31px;"><input type="checkbox" value="{{item.RelativePath}}" /> {{ item.Name }}{{ item.Extension }}</div>
    </div>
    

    <ul ng-if="item.Children.length > 0" style="list-style-type: none;">
        <li ng-repeat="item in item.Children" ng-include="'itemTree'">           
        </li>
    </ul>
</script>

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add</h5>
        <button type="button" class="close" aria-label="Close" ng-click="$close(false)">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" >
        <div ng-show="!isLoading">
            <ul style="list-style-type: none;" id="modal-body">
                <li ng-repeat="item in items" ng-include="'itemTree'"></li>
            </ul>  
        </div>     

        <div ng-show="isLoading">
            <p class="text-center">
                <i class="material-icons md-48 spin text-center">refresh</i>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <button type="button" class="btn btn-primary" ng-click="finish()">Add</button>
            <button type="button" class="btn btn-secondary" ng-click="$close(false)">Close</button>
        </div>
    </div>
</div>