<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="close" aria-label="Close" ng-click="$close(false)">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5>Are you sure you want to delete {{seriesName}} ?</h5>
    </div>
    <div class="modal-footer">
        <div>
            <button type="button" class="btn btn-primary" ng-click="finish()">Delete</button>
            <button type="button" class="btn btn-secondary" ng-click="$close(false)">Cancel</button>
        </div>
    </div>
</div>