<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add</h5>
        <button type="button" class="close" aria-label="Close" ng-click="$close(false)">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" ng-style="{width: progress + '%'}" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <hr />
        <div ng-show="step === 0">
            <!-- TODO: move to fullscreen instead -->
            <!-- TODO: add pagination ? -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="series" placeholder="Series name" aria-label="Series name" 
                    aria-describedby="basic-addon2" ng-model="seriesName" ng-keypress="checkForEnter($event)" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary btn-dark" ng-click="search()" ng-disabled="seriesName.length === 0 || isLoading"><i class="material-icons md-18">search</i></button>
                </div>
            </div>


            <div class="mt-4" ng-show="series.length === 0 && !isLoading && searched">
                No series found
            </div>
            <div class="mt-4" ng-show="series.length > 0 && !isLoading">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Aliases</th>
                                <th scope="col">Status</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="{'table-success': item.exists === true}" ng-repeat="item in series">
                                <th scope="row">
                                    <input type="radio" style="margin-top: 7px;" name="seriesSelect" ng-value="item" ng-model="model.series" ng-disabled="item.exists" />
                                </th>
                                <th>{{$index+1}}</th>
                                <td>{{item.seriesName}}</td>
                                <td title="{{utils.getAliases(item.aliases)}}">
                                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 220px;">
                                        {{utils.getAliases(item.aliases)}}
                                    </div>
                                </td>
                                <td>{{item.status}}</td>
                                <td title="{{item.overview}}">
                                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 347px;">{{item.overview}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>       
        </div>     

        <div ng-show="step === 1 && !isLoading">
            <h5>{{model.series.seriesName}}</h5>
            <div class="form-group">
                <label for="season">Start season</label>
                <select class="form-control" id="season" ng-model="model.season">
                    <option ng-repeat="item in seasons" ng-value="item.number">{{item.number}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="episode">Start episode</label>
                <select class="form-control" id="episode" ng-model="model.episode" ng-disabled="!model.season">
                    <option ng-repeat="item in episodes" ng-value="item">{{item.episodeName}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="limit">Limit until episode</label>
                <input type="checkbox" ng-model="model.limit" id="limit" ng-disabled="!model.season" />
            </div>

            <div class="form-group">
                <label for="endSeason">End season</label>
                <select class="form-control" id="endSeason" ng-model="model.endSeason" ng-disabled="!model.limit">
                    <option ng-repeat="item in seasons" ng-value="item.number">{{item.number}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="endEpisode">End episode</label>
                <select class="form-control" id="endEpisode" ng-model="model.endEpisode" ng-disabled="!model.endSeason || !model.limit">
                    <option ng-repeat="item in episodes" ng-value="item">{{item.episodeName}}</option>
                </select>
            </div>
        </div>

        <div ng-show="isLoading">
            <p class="text-center">
                <i class="material-icons md-48 spin text-center">refresh</i>
            </p>
        </div>
    </div>
    <div class="modal-footer" ng-show="step !== 2">
        <div ng-show="step === 0">
            <button type="button" class="btn btn-primary" ng-click="selectSeason()" ng-disabled="!model.series">Next</button>
            <button type="button" class="btn btn-secondary" ng-click="$close(false)">Close</button>
        </div>
        <div ng-show="step === 1">
            <button type="button" class="btn btn-primary" ng-click="finish()" ng-disabled="!model.episode">Add</button>
            <button type="button" class="btn btn-secondary" ng-click="$close(false)">Close</button>
        </div>
    </div>
</div>