<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Edit - {{seriesName}}</h5>
        <button type="button" class="close" aria-label="Close" ng-click="$close(false)">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div ng-show="!isLoading">
            <div class="form-group">
                <label for="season">Start season</label>
                <select class="form-control" id="season" ng-model="model.season">
                    <option ng-repeat="item in seasons" ng-value="item.number">{{item.number}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="episode">Start episode</label>
                <select class="form-control" id="episode" ng-model="model.episode" ng-disabled="!model.season">
                    <option ng-repeat="item in episodes" ng-value="item">{{item.episodeName == 0 ? 'No episodes seen this season' : item.episodeName}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="limit">Limit until episode</label>
                <input type="checkbox" ng-model="model.limit" id="limit" ng-disabled="!model.season" />
            </div>

            <div class="form-group">
                <label for="endSeason">End season</label>
                <select class="form-control" id="endSeason" ng-model="model.endSeason" ng-disabled="!model.limit">
                    <option ng-repeat="item in seasons" ng-value="item.number">{{item.number}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="endEpisode">End episode</label>
                <select class="form-control" id="endEpisode" ng-model="model.endEpisode" ng-disabled="!model.endSeason || !model.limit">
                    <option ng-repeat="item in endEpisodes" ng-value="item">{{item.episodeName == 0 ? 'No episodes seen this season' : item.episodeName}}</option>
                </select>
            </div>
        </div>

        <div ng-show="isLoading">
            <p class="text-center">
                <i class="material-icons md-48 spin text-center">refresh</i>
            </p>
        </div>
    </div>
    <div class="modal-footer" ng-show="step !== 2">
        <div>
            <button type="button" class="btn btn-primary" ng-click="finish()" ng-disabled="!model.episode">Update</button>
            <button type="button" class="btn btn-secondary" ng-click="$close(false)">Close</button>
        </div>
    </div>
</div>