<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="close" aria-label="Close" ng-click="$close(false)">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
        <button type="button" class="btn btn-secondary" ng-click="$close(false)">Close</button>
    </div>
</div>