<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Edit</h5>
        <button type="button" class="close" aria-label="Close" ng-click="$close(false)">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="title">Name</label>
            <input type="text" class="form-control" id="title" ng-model="item.Name">
        </div>
        <div class="form-group">
            <label for="isViewed">Viewed</label>
            <select class="form-control" id="isViewed" ng-model="item.IsViewed">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="item.Name.length == 0">Save</button>
        <button type="button" class="btn btn-secondary" ng-click="$close(false)">Close</button>
    </div>
</div>